<% 
  var uid, event;
  for (uid in events) {
    if (events.hasOwnProperty(uid)) {
      event = events[uid];
%>
      <section class="cal-event" itemscope itemtype="http://data-vocabulary.org/Event">
        <header>
          <h1 itemprop="summary"><%= event.summary %></h1>
        </header>
        <div class="cal-whenwhere">
          <span itemprop="location"><%= event.location %></span> at
          <time itemprop="startDate" datetime="<%= event.start %>"><%= new Date(Date.parse(event.start)).toString() %></time>—
          <time itemprop="endDate" datetime="<%= event.end %>"><%= new Date(Date.parse(event.end)).toString() %></time>
        </div>
        <div class="cal-description" itemprop="description"><%= event.description || 'This is a happy little placeholder description.' %></div>
      </section>
<%
    }
  }
%>