<% 
  var uid, event;
  for (uid in events) {
    if (events.hasOwnProperty(uid)) {
      event = events[uid];
%>
      <div class="vevent">
        <!--<a class="url" href="<%= event.origin_url %>">
          <%= event.origin_url %>
        </a>-->
        <div class="summary"><%= event.summary %></div>
        <abbr class="dtstart" title="<%= event.start %>"><%= event.start %></abbr>-
        <abbr class="dtend" title="<%= event.start %>"><%= event.start %></abbr>,
        at <span class="location"><%= event.location %></span>
      </div>
<%
    }
  }
%>